@font-face {
	font-family: 'Ogg-Regular';
	src: url("Ogg-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
	font-family: 'Ogg-Italic';
	src: url("OggTextBookItalic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
	font-family: 'ry';
	src: url("Ogg-Roman.woff2") format("woff2");
    font-display: swap;
}

@font-face {
	font-family: 'Univers';
	src: url("3562B4_2_0.woff2") format("woff2");
    font-display: swap;
	/* IE9 Compat Modes */
}

@font-face {
	font-family: 'Univers Condensed Bold';
	src: url("UniversCondensedBold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
	font-family: 'Univers Condensed Light';
	src: url("UniversCondensedLight.woff2") format("woff2");
    font-display: swap;
}

@font-face {
	font-family: 'Univers Condensed Regular';
	src: url("UniversCondensedRegular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
	font-family: 'Univers Extended Bold';
	src: url("UniversExtBold.woff2") format("woff2");
    font-display: swap;
	/* IE9 Compat Modes */
}

@font-face {
	font-family: 'Univers Extended Regular';
	src: url("UniversExtendedRegular.woff2") format("woff2");
    font-display: swap;
	/* IE9 Compat Modes */
}

@font-face {
	font-family: 'Univers Extended Black';
	src: url("UniversExtBlack.woff2") format("woff2");
	/* IE9 Compat Modes */
}

@font-face {
	font-family: 'Univers 45 light';
	src: url("Univers-45-light.woff2") format("woff2");
    font-display: swap;
	/* IE9 Compat Modes */
}

@font-face {
	font-family: 'Univers 65 bold';
	src: url("https://kin-website-fonts.s3.amazonaws.com/Univers/Uniivers-65-bold.woff2") format("woff2");
    font-display: swap;
	/* IE9 Compat Modes */
}

@font-face {
	font-family: 'Ogg Book Italic';
	src: url("https://kin-website-fonts.s3.amazonaws.com/OggTextBookItalic.woff2") format("woff2");
    font-display: swap;
	/* IE9 Compat Modes */
}

@font-face {
	font-family: 'Univers Extended Black';
	src: url("https://kin-website-fonts.s3.amazonaws.com/Univers/Unvers-Ext-Black/UniversExtBlack.woff2") format("woff2");
    font-display: swap;
	/* IE9 Compat Modes */
}

* { 
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

:root {
    --black: #232323;
    --secondaryBlack: #2B2B2B;
    --offWhite: #F9F8F5;
}

html, body { height: 100vh; }

body {
	width: 100vw;
	font-family: 'Univers';
  	font-size: 16px;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: 'Ogg-Regular', sans-serif;
    font-weight: normal;
}

h1 em,h2 em,h3 em,h4 em,h5 em,h6 em {
    font-family: 'Ogg-Italic', sans-serif;
    font-weight: normal;
}

a { text-decoration: none; }

img{
	image-rendering: auto;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	image-rendering: -webkit-optimize-contrast;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
      
.{
	display: flex;
  	justify-content: center;
    align-items: center
}

.pointer { cursor: pointer; }