.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 15px 25px;
}

/* Navigation */
#toggleNav { display: none; }

/* Menu icon */
.menu-icon {
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    height: 48px;
    width: 48px;
    border: 1.5px solid var(--offWhite);
    border-radius: 100%;
    transition: all 0.2s ease-in-out;
}

.menu-icon .menu-prompt {
    font-size: 7px;
    color: var(--offWhite);
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    transition: color 0.2s ease-in-out;
}

.menu-icon .menu-icon-close { display: none; opacity: 0; }

/* Slide out navigation */

.site-header .site-menu {
    position: fixed;
    left: -50vw;
    top: 0;
    z-index: 2;
    width: 50vw;
    height: 100vh;
    background-color: white;
    transition: left 0.2s ease-in-out;
}

.site-menu .secondary-logo-link{
    display: none;
    position: absolute;
    top: 49px;
    left: 0;
    right: 0;
    text-align:center;
}

#toggleNav:checked ~ .site-menu { opacity: 1; left: 0; }

.site-header .site-menu.closed { opacity: 0; }

#toggleNav:checked ~ .toggle .menu-icon { border-color: var(--secondaryBlack); }

#toggleNav:checked ~ .toggle .menu-icon .menu-prompt { color: var(--secondaryBlack); }

#toggleNav:checked ~ .toggle .menu-icon .menu-icon-open { display: none; }

#toggleNav:checked ~ .toggle .menu-icon .menu-icon-close { display: block; opacity: 1; }

.site-menu .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 8px;
}

.menu-items .primary-menu {
    font-family: "ogg-regular", sans-serif;
    font-size: 60px;
    line-height: 150%;
    margin-bottom: 50px;
}

.primary-menu .prod-link em { font-style: normal; }

.primary-menu a { position: relative; color: var(--secondaryBlack); }

.primary-menu a img{
    position: absolute;
    left: -35px;
    top: 15px;
    opacity:0;
    transition: opacity .2s ease-in-out;
}

.primary-menu a .border-bottom{
    position: absolute; 
    bottom: 7px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 1px;
    background-color: #272727;
    transition: width .2s ease-in-out;
}

.primary-menu a:hover .border-bottom{ width: 100%; }
.primary-menu a:hover img{ opacity: 1; }

.secondary-menu, .mobile-menu {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 214%;
    letter-spacing: 1.17px;
}

.mobile-menu{ display:none; }
.secondary-menu a, .mobile-menu a { color: var(--black); }
.menu-items .menu a { display: block; text-align: center; }

/* Logo */

.site-logo { width: 81px; margin: 0 auto; }
.site-logo .logo-link { display: inline-block; }
.logo-link .logo-img { width: 100%; height: auto; }

/* Cart icon */

@media screen and (max-width: 900px){
    .menu-items .primary-menu { font-size: 50px; }
    .primary-menu a img{ top: 4px; left: -40px; }
}

@media screen and (max-width: 800px) {
    .site-header .site-menu{
        left: -100vw;
        width: 100vw;
        background-color: #F2F2F2;
    }

    .site-menu .secondary-logo-link{
        display: block;
        position: absolute;
        top: 49px;
        left: 0;
        right: 0;
        text-align:center;
    }

    .menu-items .primary-menu {
        font-size: 40.32px;
        line-height: 174%;
        margin: 8px 0 38px;
    }
}

@media screen and (max-width: 500px) {
    .site-header { padding: 49px 19px; }
    .site-logo { width: 55px; }
    .menu-icon { width: 40px; height: 40px;}
    .primary-menu .prod-link em { font-family: 'Ogg-Italic', sans-serif; }
    .secondary-menu{ display:none; }
    .mobile-menu{ display:block; }
    .site-menu .secondary-logo-link{ display:block; }
    .site-menu .menu-items .primary-menu a .border-bottom{ bottom: 11px; }
}

@media screen and (orientation:landscape)
and (min-device-width: 320px) 
and (max-device-width: 1000px) {
    .site-header{
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(6px);
    }
    
}