/* Cart Icon */

#toggleCartOpen, #toggleCartClose{ display:none; }
.cart-icon { position: relative; margin-right: 25px; }

.cart-icon .cart-body {
	height: 18.9px;
    width: 18.9px;
    border: 1px solid var(--offWhite);
    border-radius: 0.9px;
}

.cart-icon .cart-handle {
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 8.1px;
    height: 4.5px;
    border: 1px solid var(--offWhite);
    border-radius: 2.7px 2.7px 0px 0px;
}

.site-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: -414px;
    height: 100vh;
    width: 414px;
    padding: 30px;
    background-color: white;
    transition: right 0.2s ease-in-out;
}

.site-cart.closed { opacity: 0; }
#toggleCartOpen:checked ~ .site-cart { right: 0; opacity: 1; }
.cart-logo-black { margin-top: 19px; }

.empty-text {
    font-size: 40.32px;
    line-height: 131%;
    color: var(--secondaryBlack);
    margin-bottom: 0
}

.cart-btn {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.17px;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    width: calc(100% - 14px);
    padding: 9.5px 10px;
}

.cart-btn.keep-shopping {
    margin-bottom: 53px;
    color: var(--black);
    border-color: #000;
}

.cart-btn.checkout {
    color: var(--offWhite);
    border-color: #1d1d1d;
    background-color: #1d1d1d;
    margin-bottom: 53px;
}

.separator {
    position: absolute;
    bottom: 5px;
    width: 121.76px;
    height: 1px;
    background-color: var(--secondaryBlack);
    margin: 38.5px 0;
}

.cart-back-icon {
    position: absolute;
    top: 58px;
    right: 30px;
    height: 20px;
}

.cart-items.empty ~ .cart-btn.checkout { display: none; }
.cart-items.empty ~ .separator { display: none; }
.cart-items.empty .item-overview { display: none; }
.cart-items.item-added ~ .cart-btn.keep-shopping { display: none; }
.cart-items.item-added .empty-text { display: none; }
.cart-items .product-overview { width: 339px; }

.cart-items .product-overview #clear-cart{
    position: absolute;
    top: 27px;
    right: 0;
}

.cart-items .item-overview { position: relative; top: -104px; }

.cart-items .product-overview {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 0 22px 70px;
    border-bottom: 2px solid #272727;
}

.product-overview .product-image {
    position: absolute;
    top: -4px;
    left: -70px;
}

.product-overview p { margin: 0 0 2px; }
.product-overview .product-info{ position: relative; top: 2px; } 

.product-overview .product-name {
    font-size: 24px;
    line-height: 133%;
    color: var(--secondaryBlack);
}

.product-overview .product-price {
    font-size: 14px;
    font-family: "Univers 45 light";
    font-weight: bold;
    line-height: 143%;
    color: var(--secondaryBlack);
}

.product-overview .product-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
}

.product-counter span{
	display: inline-block;
    height: 18px;
}

.product-overview .counter-number {
    font-size: 14px;
    font-family: "Univers Extended Bold"; 
    color: #2d2d2d;
}

.product-overview #counter-minus, .product-overview #counter-plus {
	width: 18px;
    padding: 0 2px;
    transition: all .2s ease-in-out;
}

.product-overview #counter-minus:hover, .product-overview #counter-plus:hover{
	background-color: var(--black);
    color: white;
}

.item-overview .sub-total {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cart-items .sub-total p { margin: 0; }

.sub-total .sub-total-text {
    font-size: 11px;
    font-family: "Univers Condensed Light";
    font-weight: bold;
    line-height: 182%;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    color: var(--secondaryBlack);
    margin-top: 6px;
}

.sub-total .sub-total-price {
    font-size: 14px;
    font-family: "Univers Extended Regular";
    font-weight: bold;
    line-height: 220%;
    letter-spacing: 0.777778px;
    text-transform: uppercase;
    color: #2d2d2d;
}

@media screen and (max-width: 800px) {
    .site-header .site-cart {
        width: 100vw;
        right: -100vw;
        background-color: #F2F2F2;
    }
}

@media screen and (max-width: 500px){
	.cart-icon { margin-right: 11px; }
}